html {
  box-sizing: border-box;
}
ul, ol {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  width: 1200px;
  margin: 0 auto;
  background-color: #333333;
}

/* .search-form{
  position: fixed;
} */


.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  /* padding: 0px; */
}
.galleryListItem {
  /* display: inline-block; */
  max-width: 30%;
  margin: 10px;
  background-color: rgb(121, 121, 121);
  color: aliceblue;
  cursor: pointer;
   border:2px solid rgb(80, 80, 80)  ;
}

.galleryListItem > img {
  /* height: 250px; */
  width: 33%;
}

/* .js-btn-hidden {
  visibility: hidden;
  opacity: 0;
} */

.js-btn-visibil {
  visibility: visible;
  opacity: 1;
}
.stats {
  display: flex;
  justify-content: space-evenly;
    align-items: baseline;

}

form {
  margin: 0 auto;
  max-width: 95%;
  padding: 30px 30px 6px 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-clip: padding-box;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

input {
  width: 100%;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  background-clip: padding-box;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 800;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.4);
  padding-left: 25px;
}

input:focus,
textarea:focus {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.btn {
  width: 180px;
  height: 60px;
  border-radius: 4px;
  float: right;
  border: 1px solid #253737;
  background: #333333;
  padding: 10.5px 21px;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0,
    inset rgba(255, 255, 255, 0.7) 0 1px 0;
  text-shadow: #333333 0 1px 0;
  color: #e1e1e1;
  font-size: 24px;
  cursor: pointer;
}
.btn:hover {
  border: 1px solid #253737;
  text-shadow: #333333 0 1px 0;
  background: #416b68;
  color: #fff;
}
.btn:active {
  margin-top: 1px;
  text-shadow: #333333 0 -1px 0;
  border: 1px solid #333333;
  background: #ffcc00;
  color: #fff;
  box-shadow: rgba(255, 255, 255, 0) 0 1px 0,
    inset rgba(255, 255, 255, 0.7) 0 1px 0;
  outline: none;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;}

.navButtons{
  display: flex;
  justify-content: center;
}
.navButtons button{
  margin: 20px;
}
  /* SEARCH BOX */
/* .searchBox {
  position: fixed;
  right: 0;
  z-index: 10;
  background: #2f3640;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  transition: 0.4s;
  height: 60px;
  border-radius: 40px;
  padding: 10px;
  
}
.searchBox:hover {
  display: block;
  width: 80%;
  padding: 0 6px;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left; 
  padding: 10px;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 100%;

}

.searchButton {
  position: absolute;
  top:50%;
  right: 0;
  transform: translateY(-50%);
  background: none;
  color: #fff;
  border: none;
    background: #2f3640;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  transition: 0.4s;

} */